@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

/* Fontes */
.righteous{
    font-family: 'Righteous', cursive;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
/* Fontes */

.topo{
    background-color: #CF2B2B;
    height: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.container-topo{
    padding-left: 21px;
    padding-top: 8px;
    color: #ffffff;
}

.container-topo p{
    margin-bottom: 5px;
}

.container-topo p:first-child{
    font-size: 44px;
}

.container-topo p:last-child{
    font-weight: 400;
    font-size: 18px;
}

.corpo{
    background-color: #E5E5E5;
    margin: 92px 0;
    height: calc(100% - 92px);
}

.pratos{
    padding-top: 31px;
}

.categoria{
    font-size: 26px;
    padding-left: 19px;
}

.container-itens{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 19px;
}

.container-itens::-webkit-scrollbar{
    display: none;
}

.item{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-top: 17px;
    margin-right: 16px;
    padding: 18px 14px 13px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.item ion-icon{
    position: absolute;
    right: 11px;
    bottom: 11px;
    font-size: 19px;
    color: #32B72F;
}

ion-icon{
    display: none;
}

.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.nome-item{
    font-weight: 700;
    font-size: 16px;
}

.descricao-item{
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.preco{
    font-weight: 400;
    font-size: 16px;
}

.bebidas, .sobremesas{
    margin-top: 27px;
}

.sobremesas{
    padding-bottom: 16px;
}

.contador{
    position:absolute;
    right: 14px;
    bottom: 10px;
    display: flex;
    width: 47px;
    justify-content: space-between;
    font-size: 16px;
}

.contador button:first-child{
    color:#CF2B2B;
}

.contador button:last-child{
    color: #32B72F;
}

.contador button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.pedido{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.pedido button{
    width: 88vw;
    height: 61px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 50px;
    background-color: #CBCBCB;
    color: #FFFFFF;
    border:none;
    padding: 0 55px;
    text-align: center;
}

.pedido button.fechar-pedido{
    background-color: #32B72F;
}

.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.display{
    display: initial;
}

.escondido{
    display: none;
}

.confirmacao-pedido{
    display: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container-confirmacao{
    width: calc(100% - 36px);
    margin-top: calc(50vh - 353px/2);
    height: 353px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;   
    font-size: 22px;
    color: #FFFFFF;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
}

.confirmacao-titulo{
    text-align: center;
    margin-top: 21px;
}

.confirmacao-itens{
    margin: 0 25px 0 26px;
}

.confirmacao-itens div{
    margin-bottom: 13px;
}

.confirmacao-item{
    display: flex;
    justify-content: space-between;
}

.confirmacao-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmacao-botoes a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.tudo-certo{
    height: 52px;
    width: 87%;
    color: #50D074;
    background-color: #FFFFFF;
}

.cancelar{
    height: 52px;
    width: 87%;
    background-color: #50D074;
}

.item-individual{
    font-weight: 400;
}

.dados-titulo{
    margin-top: 21px;
}

input{
    width: 80%;
    margin-top: 10px;
    border:1px solid grey;
    border-radius: 3px;
    height: 25px;
}

input:focus{
    outline:none;
}

.dados-titulo{
    text-align: center;
}

.nome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmar{
    width: 80%;
    color: #50D074;
    background-color: #FFFFFF;
}

