.item{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-top: 17px;
    margin-right: 16px;
    padding: 18px 14px 13px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.item ion-icon{
    position: absolute;
    right: 11px;
    bottom: 11px;
    font-size: 19px;
    color: #32B72F;
}

ion-icon{
    display: none;
}

.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.nome-item{
    font-weight: 700;
    font-size: 16px;
}

.descricao-item{
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.preco{
    font-weight: 400;
    font-size: 16px;
}

.contador{
    position:absolute;
    right: 14px;
    bottom: 10px;
    display: flex;
    width: 47px;
    justify-content: space-between;
    font-size: 16px;
}

.contador button:first-child{
    color:#CF2B2B;
}

.contador button:last-child{
    color: #32B72F;
}

.contador button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}