.categoria{
    font-size: 26px;
    padding-left: 19px;
}

.container-itens{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 19px;
}

.container-itens::-webkit-scrollbar{
    display: none;
}